language: php

php:
    - 5.6
    - 7.0
    - nightly
    - hhvm

install:
    - openssl genrsa -out app/var/jwt/private.pem -aes256 4096 -passout pass:tutorial
    - openssl rsa -pubout -in app/var/jwt/private.pem -out app/var/jwt/public.pem -passin pass:tutorial
    - composer install

script:
    - app/console security:check;
    - ./bin/phpunit --configuration app --coverage-text
